/* large: 2-5 Gb. RESOURCES ONLY -- see conf/genome_size/huge.config header. */

process {
    withName: 'HISAT2_ALIGN'  { maxForks = 4; cpus = 12; memory = { 40.GB * task.attempt }; time = { 24.h * task.attempt } }
    withName: 'HISAT2_BUILD'  { cpus = 32; memory = { 250.GB }; time = { 96.h } }
    withName: 'SAMTOOLS_SORT' { maxForks = 4; cpus = 8;  memory = { 32.GB * task.attempt } }
    withName: 'STRINGTIE.*'   { maxForks = 4; cpus = 8;  memory = { 32.GB * task.attempt } }
    withName: 'INFER_STRANDEDNESS' { maxForks = 4; cpus = 8; memory = { 40.GB * task.attempt } }

    withLabel: process_high        { cpus = 24; memory = { 250.GB * task.attempt }; time = { 96.h } }
    withLabel: process_high_memory { memory = { 400.GB } }
    withLabel: process_long        { time = { 336.h } }
}
