/* medium: 500 Mb - 2 Gb. RESOURCES ONLY. */

process {
    withName: 'HISAT2_ALIGN'  { maxForks = 6; cpus = 12; memory = { 24.GB * task.attempt } }
    withName: 'HISAT2_BUILD'  { cpus = 16; memory = { 120.GB }; time = { 24.h } }
    withName: 'SAMTOOLS_SORT' { maxForks = 6; cpus = 6 }
    withName: 'STRINGTIE.*'   { maxForks = 6; cpus = 6 }

    withLabel: process_high   { cpus = 16; memory = { 128.GB * task.attempt }; time = { 48.h } }
}
