/* tiny: <= 10 Mb. Organelles and smoke tests. */

process {
    withName: 'HISAT2_ALIGN'  { maxForks = 16; cpus = 2; memory = { 4.GB * task.attempt } }
    withName: 'SAMTOOLS_SORT' { maxForks = 16; cpus = 2; memory = { 4.GB * task.attempt } }
    withLabel: process_high   { cpus = 4;  memory = { 32.GB * task.attempt }; time = { 4.h } }
}
