/*
 * L2: Tricholoma matsutake, 160 Mb softmasked, public SE reads subsampled.
 * Exercises the full DAG on a real genome in a few hours.
 *   scripts/symbiomics run . -profile test_fungus,singularity,local64
 */

params {
    genome_size_class = 'small'
    genome            = '/data/snyoo/Transcriptome/Trima/ASM2607553_masked_nuc.fasta'
    input             = "${projectDir}/tests/data/samplesheet_matsutake.tsv"
    raw_dir           = '/data/snyoo/Transcriptome/Raw'
    outdir            = './results_test_fungus'
    genome_id         = 'Tmatsutake'
    species           = 'Tricholoma_matsutake'
    species_taxid     = 40145
    taxon             = 'fungi'
    premasked         = true
    masker            = 'none'
    test_mode         = true
    test_reads        = 200000
    counter           = 'both'
    reference_gff     = '/data/snyoo/Transcriptome/Trima/01_Alignment/braker_rna/braker_gene.gff'
}
